$color-primary: #FF6600;
$color-secondary: linear-gradient(90deg, #FF6600 0%, #F26659 27%, #F06177 37%, #E55D97 48%, #CA46D2 71%, #8D13F9 100%);
$color-bg: #F5F5F5;
$color-bg-secondary: #F6F6F6;
$color-text: #808080;

$color-gray: #C0C0C0;
$color-dark-gray: #2D2D2D;
$color-dark: #000000;
$color-light: #FFFFFF;
$color-success: #2d8647;
$color-error: #E30907;

$font-primary: 'Inter', Arial, sans-serif;
$font-secondary: 'Montserrat', Arial, sans-serif;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
